// Make jumbotron 100% height
.jumbotron
  background-attachment: fixed
  background-position: center center
  background-image: linear-gradient(to bottom right, rgba(8,12,19,.7),  rgba(0,102,102,.85)), url("../img/mountain_lake.jpg")
  height: 100vh

.vertical-center
  display: flex
  align-items: center

.centering
  color: white
  text-align: center
  .scarf
    height: 15em

.button-header
  border: 1px solid white
  padding: 0.5em 1em
  cursor: pointer
