$ausruesterrot: #850001
$ausruesterdunkelrot: #5e0000
$green: #1abc9c

@import navbar
@import site
@import scarfblocks
@import backtotop

body
  font-family: 'Fira Sans', sans-serif

.pointer
  cursor: pointer
.not-allowed
  cursor: not-allowed

.smooth
  transition: all 0.2s ease-in-out

polygon
  stroke: black
  stroke-width: 1px
  transition: all 0.2s ease-in-out
  &:hover
    stroke: white
    stroke-width: 2px

path.highlight-stroke
  &:hover
    stroke: white
    stroke-width: 2px

.grayscale
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
  filter: gray
  -webkit-filter: grayscale(100%)

.grayscale:hover
  filter: none
  -webkit-filter: grayscale(0%)


// Bootstrap extensions
.card
  transition: all 0.2s ease-in-out
  &:hover
    border-color: $ausruesterrot

.card-outline-highlight
  background-color: transparent
  border-color: $ausruesterrot

// Bootstrap 4 Button override

.btn-primary
  color: #fff
  background-color: $ausruesterrot
  border-color: $ausruesterrot
  &:hover
    color: #fff
    background-color: $ausruesterdunkelrot
    // background-color: #0069d9
    border-color: $ausruesterdunkelrot
  &:focus, &.focus
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5)
  &.disabled, &:disabled
    background-color: $ausruesterrot
    border-color: $ausruesterrot
