body
  background: linear-gradient(180deg, rgba(215,215,215,1), rgba(240,240,240,1))

.body-wrapper
  background-color: white !important
  margin-top: 1em
  margin-bottom: 1em
  padding: 1em

.jumbotron
  filter: gray
  background-image: linear-gradient(to bottom right, rgba(8,12,19,.7),  rgba(0,102,102,.85)), url("../img/mountain_lake.jpg")
  background-position: center center
  margin-bottom: 0

.vertical-center
  align-items: center

.centering
  color: white
  text-align: center
  .scarf
    height: 15em

.button-header
  border: 1px solid white
  padding: 0.5em 1em 0.6em 1em
  cursor: pointer

.heading
  padding-top: 2em
  h2
    text-align: center
    font-size: 2em
  .underline
    border-top: 2px solid $ausruesterrot
    width: 100px
    margin: 0 auto
    margin-top: 0.5em
    padding-bottom: 2em

//   background-image: linear-gradient(to bottom right, rgba(133,0,1,.1),  rgba(133,0,1,.5)), url("../img/mountain_lake.jpg")
